In [0]:
#dictionary
dic= {}
dic['label'] = "flag"
dic[2] = 'two'
print(dic)
val = dic.get("label","no value is assigned to this index")
print(val)
for k,v in dic.items():
  print(k, ' : ', v)
for i in dic:
  print (i)
  print(dic[i])
#ask whether key is in dictionary
print("label in dic")
#another way to get value
print (dic.get('label'))
#no key in the dictionary, return None
print(dic. get(3))

In [0]:
#zip demo
li1 = ['a','b','c']
li2 = [1,2,3]
t = zip(li1,li2) #t is just an object 
print(t)
li3 = [pair for pair in t]
print(li3)
letters,numbers = zip(*li3)
print(letters)
print(numbers)
# * argument unpacking
def add(a,b):
  return a+b
print(add(*[1,2]))

<zip object at 0x7fec40f26a48>
[('a', 1), ('b', 2), ('c', 3)]
('a', 'b', 'c')
(1, 2, 3)
3

In [0]:
#use defaultdict
from collections import defaultdict
word_counts = defaultdict(int) #int() produces 0
word_counts['b'] += 1
dd = defaultdict(list) #list() produces an empty list
dd[2].append(1)
dd[2].append('two')
dd[3].append(2)
print(dd)
dd = defaultdict(dict)  #dict() produces an empty dictionary
dd['joel']['city'] = 'seattle'
print(dd)
dd = defaultdict(lambda: [0,0])
print(dd[2])
print(dd)
dd[2][1] = 1 # the default is [0,0],th index 1 change to 1 
print(dd) 
dd[2][1] = 8 # the default is [0,0],th index 1 change to 8
print(dd) 
dd[2][0] = 3 # the default is [0,0],th index 0 change to 3
print(dd)
dd[2][0] = 5 # the default is [0,0],th index 0 change to 5 
print(dd)
dd[3][1] = 2
print(dd)

In [0]:
#to transfert the copy of the parameter 
def func1(a):
  a[2] = "new content"
  return a

b = list (range(1,5))
d = func1 (b[:]) #b is copied to the function as the parameter
print(d)
print(b)

In [1]:
#passing an arbitary number of arguments
def func2 (*a):
  print(a)
  for i in a:
    print (i)
func2(2,3,4)
func2(1,2)

(2, 3, 4)
2
3
4
(1, 2)
1
2

In [0]:
#using arbitary keyword arguments
def func3 (first, last, **a):
  a['first'] = first
  a['last'] =  last 
  return a
d = func3('a','b', c='c', d= 'd')
print(d)

{'c': 'c', 'd': 'd', 'first': 'a', 'last': 'b'}

In [0]:
#anonymous function lambdas
def apply_to_one (f):
  """f is supposed to be a finction"""
  return f(1)

y = apply_to_one (lambda x: x+1)
print(y)
#high order function
def cubefunc (f):
  def g(x):
    return 2*f(x)
  return g
t = cubefunc(lambda x:x+1)
print (t(2)) #it should be 6

2
6

In [0]:
dic2= {}
dic2['label'] = "flag"
dic2['two'] = 'two'
for name in sorted (dic2.keys()):
  print (name.title())
  print (name)
for name in sorted (dic2.values()):
  print (name.title())
  print (name)

In [0]:
#form a set from dictionary
dic = {"one" : 1, "two" : 2, "TWO" : 2}
set1 = set(dic.values())
set2 = set(dic.keys())
print(set1)
print(set2)

In [0]:
#list comprehensions
lis1 = ['a','b','c']
lis2 = [1,2,3]
lis3 = [(x,y)
        for x in lis1
        for y in lis2]
print(lis3)
lis4 = [{x:y}
        for x in lis1
        for y in lis2]
print (lis4)
lis5 = [ x*x for x in range (5)]
print(lis5)
tup6 = [x for x in range(20) if x%2 == 0]
print(tup6)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]
[{'a': 1}, {'a': 2}, {'a': 3}, {'b': 1}, {'b': 2}, {'b': 3}, {'c': 1}, {'c': 2}, {'c': 3}]
[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [0]:
#nesting in strcuture
dic = {'ingredient' : ["rice", "dough"], 'toppings' : ['pepper', 'cheese']}
print (dic)

In [0]:
#input is treated as the string by default, 
age = input("input your age:")
print (age)
#  age > 18  this clause will be wrong
i = int(age)
i > 18

input your age:20
20

True

In [0]:
#while clause
animals = ['dog','frog','bear','cat','cat']
ani2 = animals.copy()
ani3 = animals
i = 0
while "cat" in animals:
  animals.remove("cat")
  i = i+1
print(i)
print(ani2)
print(ani3)

In [0]:
#function simple demo
def simple_func(i):
  print(i)
  return i+1

k = simple_func(1)
print(k)

In [0]:
def simple_func2(arr):
  i = len(arr)
  print(arr)
  j = 0
  while j < i:
    k = j+1
    while k < i:
      if arr[k] < arr[j]:
        t = arr[j]
        arr[j]= arr[k]
        arr[k]= t
      k = k+1
    j = j+1
  return arr

arr1 = [6,5,4,3,2]
arr2 = simple_func2(arr1)
print(arr2)

In [0]:
def simple_func3(arr):
  i = len(arr)
  print(i)
  return arr

arr1 = [1,2,3]
arr2 = simple_func3(arr1)
print(arr2)

In [0]:
#list demo,   
magicians = ['alice', 'david','kevin']
for magician in magicians:
  str = f"{magician.title()}, that was a great trick"
  print(str)

In [0]:
# list index
arr = [0,1,2,5,6,7,8]
print(arr)
print(arr[-1])
print(arr[:-1])
print(arr[2:5])
print(arr[2:])
print(arr[:5])
arr[1]=9
print(arr)
arr.pop()
arr.insert(6,100)
print(arr)
arr.remove(5)
print(arr)
arr.sort()
print(arr)
print(len(arr))
arr.reverse()
print(arr)
#copy arr
arr1 = arr[:]
print(arr1)
arr.extend([4,5,6])
print(arr)
arr2 = arr +[4,5,6]
print(arr2)

[0, 1, 2, 5, 6, 7, 8]
8
[0, 1, 2, 5, 6, 7]
[2, 5, 6]
[2, 5, 6, 7, 8]
[0, 1, 2, 5, 6]
[0, 9, 2, 5, 6, 7, 8]
[0, 9, 2, 5, 6, 7, 100]
[0, 9, 2, 6, 7, 100]
[0, 2, 6, 7, 9, 100]
6
[100, 9, 7, 6, 2, 0]
[100, 9, 7, 6, 2, 0]
[100, 9, 7, 6, 2, 0, 4, 5, 6]
[100, 9, 7, 6, 2, 0, 4, 5, 6, 4, 5, 6]

In [0]:
#enumerate demo
lis = [17, 20, 55,88]
for i, name in enumerate (lis):
  print(i, " value is ", name)
#generators wrapped in parentheses
#it is only a generator, can not use it directly
evensbelow20 = (i for i in range(20) if i%2 == 0)
print(evensbelow20)
for i in evensbelow20:
  print(i)

In [0]:
#set demo
a = set()
a.add(2)
a.add(8)
a.add(9)
print(len(a))
x = 2 in a
print(x)
z = 3 in a
print(z)
b = {5,6,7,8}
for i in b:
  print(i)

3
True
False
8
5
6
7

In [0]:
#range function, if else

arr = list(range(1,20))
print(arr)
for i in arr:
  if i%2 == 0:
    print( f"{i} is even" )
  else:
    print( f"{i} is odd")

In [0]:
# if clause
age = 25
if age < 6:
  print("it is free")
elif age < 17:
  print("pay 1 dollar")
else:
  print("pay 5 dollar")
alist = list(range(2,8))
j  = 7
if j in alist:
  print("Bingo")
else:
  print("Try again")

In [0]:
person = input('what is your name')
print("hello, ", person)
age = input('How old are you')
print("your age is  ", age)

what is your namekevin
hello,  kevin
How old are you3
your age is   3

In [0]:
class Dog:
  """ a simple demo of class definition"""
  def __init__(self,name, age):
    self.name = name
    self.age = age
  def showname(self):
    print(self.name)

my_dog = Dog("kelly",6)
my_dog.showname()

kelly

In [0]:
x = 11
y = 3
if x>y:
  print(x)
else:
  print(y)

In [0]:
x= "Amy"
y = "Audery"
z = x+y
print (z)

AmyAudery

In [0]:
for i in range(10,12):
  print ("hello")
  print("amy")

hello
amy
hello
amy

In [0]:
name = input("input name: ")
if name == 'audrey':
  print (name, ' is a princess')
elif name == 'sarah':
  print (name, " is my friend")
elif name == 'lucy':
  print (name, " is my cat")
else:
  print("I do not  know you")

In [0]:
for i in range(6,12):
  print(i)
  j = i*2
  print(j)

In [0]:
i = input("please input a number")
print ("you input is ", i)
j = int(i)
if j == 1:
  print ('today is monday')
elif j == 2:
  print ('today is tuesday')
elif j == 3:
  print ('today is wednesday')
elif j == 4:
  print ('today is thursday')
elif j == 5:
  print ('today is friday')
elif j == 6:
  print ('today is saturday')
elif j == 7:
  print ('today is sunday')

please input a number8
you input is  8